body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Sans GB', 'Segoe UI', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Simsun, sans-serif;
  color: #525d7d;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
p {
  font-size: 14px;
}
.roadshow-content {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
.roadshow-content h3 {
  font-size: 20px;
  margin: 60px auto;
  text-align: center;
}
.roadshow-content .apply {
  background-color: #FF8866;
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 16px;
}
.roadshow-content a:hover {
  opacity: 0.8;
}
.roadshow-banner {
  background: url("../images/head-pic.png") center center no-repeat;
  background-size: cover;
  font-weight: 600;
  min-height: 100vh;
  margin-top: 0;
}
.roadshow-banner a {
  text-decoration: none;
  color: #fff;
}
.roadshow-banner a.orange {
  color: #f86;
}
.roadshow-banner nav {
  background-color: rgba(0, 0, 0, 0.42);
}
.roadshow-banner nav .logo {
  padding-top: 20px;
  padding-bottom: 10px;
}
.roadshow-banner nav ul {
  float: right;
  padding-top: 25px;
  display: inline-block;
}
.roadshow-banner nav li {
  float: left;
  list-style: none;
  margin-right: 57px;
  color: #fff;
}
.roadshow-banner nav a {
  text-decoration: none;
  color: #fff;
}
.roadshow-banner nav .back {
  padding: 4px 6px;
  border: 1px solid #f86;
  border-radius: 3px;
  color: #f86 !important;
  font-weight: 400;
  font-size: 14px;
}
.roadshow-banner article {
  font-size: 24px;
  text-align: center;
  margin: 120px 30px 0 30px;
  color: #fff;
}
.roadshow-banner article div {
  margin-top: 120px;
}
.roadshow-banner article span {
  color: #FF8866;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}
.roadshow-banner article a.entrepreneur {
  background-color: #6CB1EE;
}
.roadshow-banner article p {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.roadshow-item {
  background-color: #fff;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  overflow: auto;
}
.roadshow-item h4 {
  margin: 30px auto 15px auto;
}
.roadshow-item h4 a {
  text-decoration: none;
  color: #525d7d;
}
.roadshow-item article {
  float: left;
  width: 23%;
  text-align: center;
  margin: 0 45px;
  display: inline-block;
}
.roadshow-item article img {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
.roadshow-item article a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.roadshow-assistant {
  background-color: #FBFBFB;
  display: block;
  overflow: auto;
}
.roadshow-assistant li {
  border-top: 1px solid #F3F3F3;
  padding: 20px;
  list-style: none;
}
.roadshow-assistant li span {
  width: 25%;
  text-align: left;
  display: inline-block;
}
.roadshow-assistant li .place {
  width: 20%;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  margin-left: 10%;
}
.roadshow-assistant li .location {
  text-align: left;
}
.roadshow-assistant li a {
  width: 10%;
  display: inline-block;
  padding: 5px 20px;
  color: #f86;
  text-decoration: none;
  border: 1px solid #f86;
  border-radius: 3px;
  text-align: center;
}
.roadshow-assistant a:hover {
  background-color: #f86;
  color: #fff;
}
.roadshow-assistant li:last-child {
  border-bottom: 1px solid #F3F3F3;
}
.roadshow-assistant .apply-entrepreneur {
  background-color: #F8F8F8;
  border: 1px solid #F5F5F5;
  margin: 50px auto;
  padding-bottom: 30px;
  text-align: center;
}
.roadshow-assistant .apply-entrepreneur h3 {
  margin: 30px;
}
.roadshow-assistant .apply-entrepreneur span {
  color: #f86;
}
.roadshow-assistant .undetermined {
  cursor: not-allowed;
}
.roadshow-footer {
  background: url("../images/footer-pic.png") no-repeat center center;
  background-size: cover;
  padding-top: 80px;
  text-align: center;
  background-color: #fff;
}
.roadshow-footer .footer-detail {
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.72);
}
.roadshow-footer .footer-detail h3 {
  background-color: #354069;
  color: #fff;
  padding: 15px;
  margin: 0;
}
.roadshow-footer .footer-detail p {
  text-align: left;
  padding: 10px 30px;
}
.roadshow-footer .bottom {
  overflow: hidden;
  margin-top: 180px;
  background-color: rgba(255, 255, 255, 0.72);
}
.roadshow-footer .bottom li {
  float: left;
  padding: 20px;
  display: inline-block;
}
.roadshow-footer .bottom a {
  color: gray;
  text-decoration: none;
}
@media (max-width: 900px) {
  .roadshow-content {
    width: 80%;
  }
  .roadshow-item article {
    float: left;
    width: 20%;
    margin: 0 6%;
    display: inline-block;
  }
  nav li {
    margin-right: 10px !important;
  }
  nav li:last-child {
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .roadshow-assistant li span {
    width: 25%;
    text-align: left;
    display: inline-block;
  }
  .roadshow-assistant li .place {
    width: 10%;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    margin-left: 10%;
  }
  .roadshow-assistant li .location {
    text-align: left;
  }
  .roadshow-assistant li a {
    width: inherit;
  }
  .roadshow-assistant a:hover {
    background-color: #f86;
    color: #fff;
  }
  .roadshow-assistant li:last-child {
    border-bottom: 1px solid #F3F3F3;
  }
  .roadshow-assistant .apply-entrepreneur {
    background-color: #F8F8F8;
    border: 1px solid #F5F5F5;
    margin: 50px auto;
    padding-bottom: 30px;
    text-align: center;
  }
  .roadshow-assistant .apply-entrepreneur h3 {
    margin: 30px;
  }
  .roadshow-assistant .apply-entrepreneur span {
    color: #f86;
  }
}
@media (max-width: 745px) {
  .roadshow-assistant .roadshow-content {
    width: 100%;
  }
}
@media (max-width: 570px) {
  .roadshow-content {
    width: 80%;
  }
  .roadshow-assistant .roadshow-content {
    width: 100%;
  }
  .roadshow-item article {
    width: 80%;
    text-align: left;
    margin: 0 6%;
    display: inline-block;
  }
  .roadshow-item article img {
    float: left;
    margin: 30px 20px 62px 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }
  .roadshow-item article a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  nav li:last-child {
    display: none;
  }
}
@media (max-width: 500px) {
  nav .roadshow-content {
    width: 90%;
  }
  .roadshow-assistant li .place {
    width: 10%;
    font-weight: 600;
    text-align: left;
    display: block;
    margin-left: 0;
  }
  .roadshow-banner article h1 img {
    width: 80%;
  }
}
@media (max-width: 370px) {
  nav li a:not(.orange) {
    display: none;
  }
}
